<div class="index">

<h1>New Page designs for BodyPoint</h1>

<p>

<h2>Company Overview Page</h2>

<ul>
	<li><%= link_to "Company Overview Version 1", company_overview_path %></li>
	<li><%= link_to "Company Overview Version 2", company_overview_2_path %></li>
	<li><%= link_to "Company Overview Version 2 PDF", "/Company_Overview_v2_Flynn.pdf", :target => "_blank" %></li>
	<li><%= link_to "Company Overview Version 3", company_overview_3_path %></li>
	<li><%= link_to "Company Overview Version 3 PDF", "/Company_Overview_v3_Flynn.pdf", :target => "_blank" %></li>
</ul>

<p>

<h2>Company Culture Page</h2>

<ul>
	<li><%= link_to "Company Culture Version 1", company_culture_path %></li>
	<li><%= link_to "Company Culture Version 2", company_culture_2_path %></li>
	<li><%= link_to "Company Culture Version 2 PDF", "/Company_Culture_v2_Flynn.pdf", :target => "_blank" %></li>
</ul>

<h2>Our Manifesto Page</h2>

<ul>
	<li><%= link_to "Our Manifesto Version 1", our_manifesto_path %></li>
	<li><%= link_to "Our Manifesto Version 1 PDF", "/Our_Manifesto_Flynn.pdf", :target => "_blank" %></li>
</ul>

<h2>Link Styles Page</h2>

<ul>
	<li><%= link_to "Link Styles", link_styles_path %></li>
	<li><%= link_to "Link Styles PDF", "/link_styles_flynn.pdf", :target => "_blank" %></li>
</ul>

<h2>Timeline Page</h2>

<ul>
	<li><%= link_to "Timeline", timeline_path %></li>
	<li><%= link_to "Timeline PDF", "/timeline_v1_Flynn.pdf", :target => "_blank" %></li>
</ul>

<h2>What Can BP do for you Page</h2>

<ul>
	<li><%= link_to "Dealer", whatcanbpdoforme_dealer_path %></li>
	<li><%= link_to "Dealer PDF", "/whatcanbpdoforme_dealer_v1_Flynn.pdf", :target => "_blank" %></li>
	<li><%= link_to "Therapists", whatcanbpdoforme_therapist_path %></li>
	<li><%= link_to "Therapists PDF", "/whatcanbpdoforme_therapist_v1_Flynn.pdf", :target => "_blank" %></li>
	<li><%= link_to "Wheel Chair Users", whatcanbpdoforme_wheelchair_user_path %></li>
	<li><%= link_to "Wheel Chair Users PDF", "/whatcanbpdoforme_wheelchair_user_v1_Flynn.pdf", :target => "_blank" %></li>
</ul>
</div>

</div>
